<div class="home-container">
  <h1 class="main-title">My Game Hub</h1>

  <div class="game-cards">
    <div class="game-card" (click)="navigateTo('game1')">
      <img src="assets/sharedImg/game1Icon2.png" alt="Game 1">
      <h2>Game One</h2>
      <p>Un’avventura intensa con tope giganti e poppe epiche.</p>
    </div>

    <div class="game-card" (click)="navigateTo('game2')">
      <img src="assets/sharedImg/game2Icon.png" alt="Game 2">
      <h2>Game Two</h2>
      <p>La sopravvivenza definitiva in uno scenario casalingo.</p>
    </div>

    
    <div class="game-card" (click)="navigateTo('game3')">
      <img src="assets/img/orsi.jpg" alt="Game 2">
      <h2>Game Three</h2>
      <p>Move bitch</p>
    </div>

        
    <div class="game-card" (click)="navigateTo('game4')">
      <img src="assets/img/orsi.jpg" alt="Game 4">
      <h2>Game Four</h2>
      <p>Pic Collection</p>
    </div>


    <!-- Aggiungi altre sezioni gioco qui -->
  </div>
</div>
